@media (max-width: 1485px) {
	.wwwText {
		display: block;
		transform: none;
		top: 1%;
		left: 1%;
	}
}
@media (max-width: 1199px)  {
	.head {
		height: 95vh;
	}
	.about__rightTxt {
		position: static;
		margin: 0;
	}
	.about__rightTxt--phoneImage {
		margin: 0;
	}
	.info {
		justify-content: center;
	}
	.power {
		background-position: 35%;
		background-repeat: no-repeat;
	}
	.buy {
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.buy__solo {
		margin-bottom: 100px;
	}
	.buy__textLegacy {
		padding-left: 55px;
		padding-right: 72px;
	}
}
@media (max-width: 1020px) {
	.head .header__row--txt h1 {
		font-size: 35px;
	}
}
@media (max-width: 992px) {
	.firstRow, .secondRow {
		flex-wrap: wrap;
		justify-content: center;
	}
	.info .info__clients:hover {
		background-image: url(../imageMin/clientsImage.png);
	}
	.info .info__sign:hover {
		background-image: url(../imageMin/singImage.png);
	}
	.info .info__sign:hover {
		background-image: url(../imageMin/singImage.png);
	}
	.power:hover {
		background-image: url(../imageMin/powerBckg.png);
	}
}
@media (max-width: 800px) {
	.info__col {
		width: 100%;
		height: auto;
	}
	.info__sign .info__sign--image {
		height: 100%;
		max-width: 100%;
	}
	.info__new,  .info__shoo > .info__col--txt {
		padding-top: 50px;
	}
}
@media (max-width: 767px) {
	.head .header__row--txt h1 {
		font-size: 25px;
	}
	.power__txt {
		padding-top: 50%;
	}
	.reason {
		height: auto;
		padding-bottom: 50px;
	}
	.reason h1 {
		margin-top: 30px;
	}
	.power {
		overflow: scroll;
	}
	.power__txt {
		padding-top: 420px;
	}
	.power__txt h1 {
		font-size: 35px;
		margin-bottom: 10px;
	}
	.foot__point {
		margin-top: 50px;
	}
	.foot__stay {
		margin-top: 50px;
	}
}


